n8n/analyze-email.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        48
      ],
      "id": "5d5b41db-f86d-424f-a05c-330495b9d197",
      "name": "Receive Email Text",
      "webhookId": "0fcbfc1a-05ca-46bf-8782-9d6810d08c41"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://serving-api:8080/predict",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email_text",
              "value": "={{$json[\"body\"][\"email_text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        240
      ],
      "id": "e07e25e9-5c40-4a84-b191-1a6bc8f4e634",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4c7f071-7143-4876-93ab-3d0352e2d6d8",
              "leftValue": "={{$json[\"prediction\"]}}",
              "rightValue": "Phishing Email",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "a9232265-1863-41d7-bf25-a36df2f82b63",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e873572-0ef6-42a8-a38b-38523a2eed51",
              "name": "rag_advice",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "be58ae04-1ad4-404e-8013-c5ca95f90dbe",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        144
      ],
      "id": "1527997c-88d0-4f9b-9b7a-9ba43a7ffb27",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -656,
        64
      ],
      "id": "31b1789f-845c-41fd-9fd1-82333005a072",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57aa84a3-4f0a-4f03-9927-9e7b0e2f483a",
              "name": "email_text",
              "value": "={{ $('Receive Email Text').item.json.body.email_text }}",
              "type": "string"
            },
            {
              "id": "af3afd8f-4431-4505-a64c-ec34e964b006",
              "name": "prediction",
              "value": "={{ $('HTTP Request').item.json.prediction }}",
              "type": "string"
            },
            {
              "id": "20fbacad-2533-4005-be00-68b00df1582d",
              "name": "probability",
              "value": "={{ $('HTTP Request').item.json.probability }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        80
      ],
      "id": "b1240e6c-867d-453b-bfb8-abf314409810",
      "name": "Normalize"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rag:8083/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Normalize').item.json.email_text }}"
            },
            {
              "name": "fraud",
              "value": "true"
            },
            {
              "name": "confidence",
              "value": "={{ $('Normalize').item.json.probability }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        16
      ],
      "id": "c97b2e87-0129-4961-80ca-91f9c23fea9a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdd0bd14-53f5-4445-bf7d-c6a9dcbe748d",
              "name": "prediction",
              "value": "={{ $('HTTP Request').item.json.prediction }}",
              "type": "string"
            },
            {
              "id": "7b92d34e-8f39-4dbd-b284-04c2443e1ffe",
              "name": "probability",
              "value": "={{ $('HTTP Request').item.json.probability }}",
              "type": "string"
            },
            {
              "id": "dceb1984-221a-4471-8e77-58c9c32d0d6e",
              "name": "email_text",
              "value": "={{ $('Normalize').item.json.email_text }}",
              "type": "string"
            },
            {
              "id": "2b7dfa41-bdee-402e-bdc2-1e53e3b091bd",
              "name": "rag_advice",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        48
      ],
      "id": "34e713f1-43e7-4435-8155-64015d77c3aa",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Email Text": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2b0be262-acda-4431-9a9a-8ffa785a3ce5",
  "meta": {
    "instanceId": "d2810ecc68ae63ca1da2f2f666d3e741674d3e2123d193caddf8c907cf1c8ddd"
  },
  "id": "ag7YEC2V326R912BAFm-4",
  "tags": [
    {
      "updatedAt": "2026-01-25T17:16:36.589Z",
      "createdAt": "2026-01-25T17:16:36.589Z",
      "id": "KmUareXUVizjMu55",
      "name": "analyze-email"
    }
  ]
}