n8n/retrain-model.json
{
  "name": "Retrain Model Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1984,
        16
      ],
      "id": "2d5d6bde-b7ed-4857-b7a8-03a2367cb6e5",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1984,
        160
      ],
      "id": "ccb3eec1-66b7-4821-8455-db1ff860c7a2",
      "name": "Schedule Daily Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-retrain-worker:9000/retrain",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1760,
        16
      ],
      "id": "40d79ff6-0ded-4413-ae2f-d9b7ce7bd16c",
      "name": "Execute Notebook Training"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1552,
        16
      ],
      "id": "e5c93cab-bf81-469f-8dd8-2087b2d7e5e8",
      "name": "Check Success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://serving-api:8080/reload-model",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1328,
        -96
      ],
      "id": "abb10b94-e13c-4bb9-8ad7-b7cdee92416d",
      "name": "Reload Model in API"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1104,
        -96
      ],
      "id": "b65ad821-24cb-40ac-9f09-2f63e18a51a7",
      "name": "Set Success Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1328,
        112
      ],
      "id": "74268311-706c-4651-af5b-415e6ff2461f",
      "name": "Set Error Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Execute Notebook Training",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Daily Trigger": {
      "main": [
        []
      ]
    },
    "Execute Notebook Training": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Reload Model in API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Model in API": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8b5d85af-4b0d-4225-ae1d-64dcfd6dec4e",
  "meta": {
    "instanceId": "57d1bcb57c358c84d31dd921b1f57c347a744c9b19fcbc64f718f9a944cbd2c8"
  },
  "id": "LfFbJV8rR7pSGySLhwv59",
  "tags": [
    {
      "updatedAt": "2026-01-25T17:20:04.941Z",
      "createdAt": "2026-01-25T17:20:04.941Z",
      "id": "NFYOvVsbtMvAjTDA",
      "name": "mlops"
    }
  ]
}