n8n/retrain-model.json
{
  "name": "Retrain Model Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "manual-trigger-1",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "operator": "every",
              "value": 24
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        450
      ],
      "id": "schedule-trigger-1",
      "name": "Schedule Daily Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-retrain-worker:9000/retrain",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "id": "exec-retrain-1",
      "name": "Execute Notebook Training"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "id": "check-success-1",
      "name": "Check Success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://serving-api:8080/reload-model",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        200
      ],
      "id": "reload-model-1",
      "name": "Reload Model in API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-msg",
              "name": "status",
              "value": "Model retrained and reloaded successfully",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1120,
        200
      ],
      "id": "set-success-1",
      "name": "Set Success Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-msg",
              "name": "status",
              "value": "Model retraining failed",
              "type": "string"
            },
            {
              "id": "error-details",
              "name": "error",
              "value": "={{ $json.stderr || $json.stdout }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        400
      ],
      "id": "set-error-1",
      "name": "Set Error Response"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Execute Notebook Training",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Daily Trigger": {
      "main": [
        [
          {
            "node": "Execute Notebook Training",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Notebook Training": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Reload Model in API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Model in API": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "mlops",
      "id": "mlops-tag-1"
    }
  ]
}
